html {
  font-size: 16px;
}
body {
  background-color: #f5f5f5;
}
.navbar {
  font-family: "Segoe UI", Roboto;
  text-transform: uppercase;
}
.logo {
  font-size: 2.5rem;
  color: aliceblue;
}
.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
a:hover,
.navbar-brand {
  color: aliceblue;
  font-weight: 600;
}
.navbar-nav li {
  list-style: none;
}
.navbar
{
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-nav li a {
  text-decoration: none;
  position: relative;
  transition: width 1s;
}
.has-dropd {
  position: relative;
}
.has-dropd ul a {
  color: black;
}
.navbar-nav .active a::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  background-color: #fff;
}
.navbar-nav .nav-item:hover a::before ,.navbar-nav .active::after {
  content: "";
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 1.5px;
  background-color: #fff;
  animation: linedrop 0.5s;
}


@keyframes linedrop {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
.sub {
  position: absolute;
  left: 0;
  min-width: 16em;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  z-index: 99;
  color: black;
}
.sub .sub {
  left: -87%;
  top: 20%;
}
.sub > li:hover > a {
  color: #0078ff;
}
.navbar-nav > li:hover > a + .sub,
.sub li:hover a + .sub {
  opacity: 1;
  transform: scaleY(1);
}
.back-img {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.back-img-contant {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: "Segoe UI", Roboto;
}

.jobs-animation {
  font-weight: 600;
  font-size: 2.5rem;
}
.about-me {
  position: relative;
}
.about-me::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 3.2em;

  border: 2px solid #0078ff;
}
.contant-card {
  font-weight: 600;
}
.progress {
  background-color: #cde1f8;
  margin: 0.5rem 0rem 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}
.line {
  width: 40px;
  border: 3px solid #0078ff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-span {
  font-size: 2.2rem;
  border: 0.6rem solid #0078ff;
  height: 120px;
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}
.hov-in-here:hover .icon-span {
  color: #fff;
  background-color: #0078ff;
  border: 0.6rem solid #cde1f8;
}
.content-card h4 {
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.counter-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.icon-span-count {
  color: #fff;
  font-size: 2rem;
  border: 0.6rem solid #cde1f8;
  height: 80px;
  width: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.content-card-count {
  color: #fff;
  line-height: 1.5em;
}
.small-content-p {
  font-size: small;
}
.small-content-p span {
  color: #0078ff;
}
.right-0 span {
  margin-right: 0.5rem;
  font-size: 2.5rem;
  color: #0078ff;
}
.car-animation .div-img img {
  transition: all 1s;
}
.car-animation .div-img {
  overflow: hidden;
}
.car-animation:hover .div-img img {
  transform: scale(1.3);
}
#carousel-indicators button {
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fff;
}

.footer-img-blog div {
  width: 13%;
}
.link-hovering-blog {
  transition: all 1s;
  text-decoration: none;
  color: black;
}
.link-hovering-blog:hover {
  color: #0078ff;
}
.content-card-blog div{
  position: relative;
  text-align: center;
  margin-top: -1.9rem;
}
.content-card-blog span {
  background-color: #0078ff;
  padding: 0.4rem 0.9rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.social {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  border: 0.2rem solid #0078ff;
  transition: all 500ms ease;
}
.social:hover {
  color: #fff;
  background-color: #0078ff;
  border: 0.2rem solid #cde1f8;
  transition: all 500ms ease;
}
.social:not(:hover) {
  animation: color 300ms;
}
.info-contact p .bi {
  margin-right: 0.6rem;
  color: #0078ff;
}

.close-icon {
  opacity: 0;
  position: absolute;
  top: -10%;
  right: 7%;
  
}
.close-icon i{
  color:black;
  font-size: 1.2rem;
  background-color: #f5f5f5;
}
.bi-list {
  color: #fff;
  
}
button[aria-expanded="true"]
{
  opacity: 0;
}

@keyframes color {
  from {
    color: #fff;
  }
  to {
    color: #0078ff;
  }
}
.back-to-top {
  color: #fff;
  font-size: 1.5rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: #298eff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.2) inset;
  background-color: #0062d3;
}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}
@media all and (max-width: 992px) {
  
  .sub .sub {
    left: 0%;
    top: 20%; 
    display: none;
    position:static;

  }
  .sub .sub-item:hover .sub
  {
   
    display: block;
  }
  .navbar-nav {
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    padding-left: 3rem;
    height: 100vh;
    padding-top: 1.5rem;
  }
  .nav-link,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show,
  a:hover,
  .navbar-brand,
  .navbar-nav .nav-link {
    color: black;
  }
  .navbar-nav .nav-item:hover >a ,.nav-item .active {
    color: #298eff;
  }
  [class*=" arrow"]::before {
    position: absolute;
      right: 3%;
  }
  .close-icon {
    text-align: end;
    font-size: 30px;
    padding-left: 20px;
    opacity: 1;
    color: gray;
    cursor: pointer;
  }
}
